!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', "xml:lang" => 'en'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title papert: logo in your browser
    %link{:rel => 'icon', :href => '/favicon.ico'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/papert.css'}
    %meta{:content => "width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %script{:type => 'text/javascript', :src => '/turtle.js'}
    %script{:type => 'text/javascript', :src => '/parser.js'}
    %script{:type => 'text/javascript', :src => '/logo.js'}
    %script{:type => 'text/javascript', :src => '/init.js'}
    %script{:type => 'text/javascript', :src => '/Three.js'}
  %body{:onload => 'init(\'canvas\',\'turtle\',\'input\',\'oldcode\', \'textOutput\'); clearcanvas(); run(1,false);'}
    #main
      %form#input{:action => '/', :method => 'post', :onsubmit => 'this.img.value = canvas.toDataURL().replace(\'data:image/png;base64,\',\'\')'}
        #top
          .inner
            %h1 Papert―logo in your browser
            -if @hash
              %h4{:onclick => "document.getElementById('share').removeClass('hidden');"}
                Share this program
                #share.hidden
                  %a{:href => "#{SITE}#{@hash}"} Link to it
                  %br
                  html:
                  %input#htmlsnippet{:readonly => 'readonly', :value => "<a href=\"#{SITE}#{@hash}\"><img src=\"#{SITE}#{hash}.png\"/><br/>Run online</a>"}
                  %br
                  bbcode:
                  %input#bbcode{:readonly => 'readonly', :value => "[url=#{SITE}#{@hash}][img]#{SITE}#{@hash}.png[/img]Run online[/url]"}
            -if @text
              %p=@text
        #content
          .inner
            #oldcode  
            %div
              %textarea#code{:name => 'code', :rows => '80', :cols => '20'}=@code
            %div{:style => 'margin: 5px;'}
              %input{:type => 'button', :onclick => 'run(25,true);', :value => 'run slowly'}
              %input{:type => 'button', :onclick => 'run(5,false);', :value => 'run normally', :style => 'font-weight: bold;'}
              %input{:type => 'button', :onclick => 'run(1,false);', :value => 'run fast'}
              %input{:type => 'button', :onclick => 'stop();', :value => 'stop program'}
              %input{:type => 'hidden', :name => 'img'}
        #left
          .inner
            #textOutput
            #turtle
              %embed#sprite{:width => '20', :height => '20', :src => '/turtle.svg'}
            %canvas#canvas{:width => '500', :height => '500'}
              Your browser doesn't support canvas tags. Please upgrade to a recent version of Firefox or Opera.
            %span{:style => 'float: left; margin-right: auto;'}
              %input{:type => 'submit', :value => 'share this program'}
              %input{:type => 'button', :onclick => 'document.location.href=canvas.toDataURL().replace(\'image/png\', \'image/octet-stream\')', :value => 'save as png'}
            %span{:style => 'float: right; margin-left: auto; margin-right: 20px;'}
              %input{:type => 'button', :onclick => 'clearcanvas();', :value => 'clear'}
      #footer{:style => 'height: 20px;'}
        %span{:style => 'float: left; margin-left: 20px; margin-right: auto; color: white;'} Recent Programs
        %span{:style => 'float: right; margin-left: auto; margin-right: 20px; color: white;'}
          Fork this on
          %a{:href => 'http://github.com/nsewell'} Github
      #recent
        %a{:name => 'recent'}
        %ul
          - for item in @recent
            %li
              %a{:href => "/#{item[:id]}"}
                %img{:src => "data:image/png;base64,#{item.img}", :height => '125', :width => '125', :alt => ''}
      %iframe#notes{:src => 'help.txt'}
